accelerate
datasets
decord
einops
hjson
hnswlib
huggingface-hub
ninja
opencv-contrib-python
opencv-python
peft
pillow
py-cpuinfo
pytrec-eval
qwen-vl-utils[decord]==0.0.8
ray
scikit-image
scikit-learn
scipy
sentencepiece
timm
tqdm
wandb
wrapt
